<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>About Page</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='bootstrap/css/bootstrap.min.css') }}">
</head>

<body style="background-image: url('static/images/background.webp'); background-repeat: no-repeat; background-size: cover;">
    <!-- Navigation Bar -->
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="#">News and Sentiment</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
          aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item">
                  <a class="nav-link" href="/" target="index">Home</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="about" target="about">About</a>
                </li>
              </ul>
        </div>
      </nav>
      <div class="image-container d-flex justify-content-around mt-5">
        <div class="image-item">
            <img src="static/images/Jeremy_Tan.jpg" alt="Image 1" class="rounded-circle img-fluid">
            <div class="icon-container d-flex justify-content-center mt-3">
          <a href="https://github.com/jeremymtan" target="https://github.com/jeremymtan"><img src="static/images/github_icon.png" alt="GitHub" width="50"></a>
          <a href="https://www.linkedin.com/in/jeremymtan/" target="https://www.linkedin.com/in/jeremymtan/"><img src="static/images/linkedin_icon.png" alt="LinkedIn" width="50"></a>
        </div>
      </div>
       
    <div class="image-container d-flex justify-content-around mt-5">
      <div class="image-item">
          <img src="static/images/Aarya_Desai.jpg" alt="Image 1" class="rounded-circle img-fluid">
          <div class="icon-container d-flex justify-content-center mt-3">
        <a href="https://github.com/AaryaDesai1" target="https://github.com/AaryaDesai1"><img src="static/images/github_icon.png" alt="GitHub" width="50"></a>
        <a href="https://www.linkedin.com/in/aarya-desai-716615169/" target="https://www.linkedin.com/in/aarya-desai-716615169/"><img src="static/images/linkedin_icon.png" alt="LinkedIn" width="50"></a>
      </div>
    </div>

    <div class="image-container d-flex justify-content-around mt-5">
      <div class="image-item">
          <img src="static/images/Adler_Viton.jpg" alt="Image 1" class="rounded-circle img-fluid">
          <div class="icon-container d-flex justify-content-center mt-3">
        <a href="https://github.com/adlerviton" target="https://github.com/adlerviton"><img src="static/images/github_icon.png" alt="GitHub" width="50"></a>
        <a href="https://www.linkedin.com/in/adler-viton/" target="https://www.linkedin.com/in/adler-viton/"><img src="static/images/linkedin_icon.png" alt="LinkedIn" width="50"></a>
      </div>
    </div>

    <div class="image-container d-flex justify-content-around mt-5">
      <div class="image-item">
          <img src="static/images/Javier_Cervantes.jpg" alt="Image 1" class="rounded-circle img-fluid">
          <div class="icon-container d-flex justify-content-center mt-3">
          <a href="https://github.com/cervs257" target="https://github.com/cervs257"><img src="static/images/github_icon.png" alt="GitHub" width="50"></a>
          <a href="https://www.linkedin.com/in/javier-cervantes-buch-cfa/" target="https://www.linkedin.com/in/javier-cervantes-buch-cfa/"><img src="static/images/linkedin_icon.png" alt="LinkedIn" width="50"></a>
        </div>
      </div>

      
      <div class="image-container d-flex justify-content-around mt-5">
        <div class="image-item">
            <img src="static/images/Tianji_Rao.jpg" alt="Image 1" class="rounded-circle img-fluid">
            <div class="icon-container d-flex justify-content-center mt-3">
          <a href="https://github.com/TianoRao" target="https://github.com/TianoRao"><img src="static/images/github_icon.png" alt="GitHub" width="50"></a>
          <a href="https://www.linkedin.com/in/tianji-rao/" target="https://www.linkedin.com/in/tianji-rao/"><img src="static/images/linkedin_icon.png" alt="LinkedIn" width="50"></a>
        </div>
      </div>

  </div>
</body>

</html>
